#! /bin/sh

# zsh-rehash.hook hash: {{- include "etc/pacman.d/hooks/zsh-rehash.hook" | sha256sum -}}

{{ if eq .chezmoi.osRelease.id "arch" "endeavouros" }}
  echo "Setting up the Zsh rehash pacman hook..."
  echo "sudo is probably going to ask you for your password."
  echo ""

  sudo mkdir -p /etc/pacman.d/hooks
  sudo cp {{ joinPath .chezmoi.sourceDir "etc/pacman.d/hooks/zsh-rehash.hook" }} /etc/pacman.d/hooks/zsh-rehash.hook
{{ end }}

